name: Update Reddit Data
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch-reddit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt1-dev
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Fetch Reddit data
        env:
          REDDIT_CLIENT_ID: ${{ secrets.REDDIT_CLIENT_ID }}
          REDDIT_CLIENT_SECRET: ${{ secrets.REDDIT_CLIENT_SECRET }}
          REDDIT_USERNAME: ${{ secrets.REDDIT_USERNAME }}
          REDDIT_PASSWORD: ${{ secrets.REDDIT_PASSWORD }}
        run: |
          mkdir -p src/data/reddit
          python backend/reddit/get_news.py
      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Actions Bot'
          git config --global user.email 'actions@github.com'
          git add src/data/reddit/
          git diff --quiet && git diff --staged --quiet || (git commit -m "[ci run]: Update reddit data" && git push)
